.form-registration-area h1 {
    padding-bottom: 60px;
}

.registration {
    background-image: url(/images/background/registration.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}  

.form-registration {
    width: 100%;
    max-width: 400px;
    margin: auto;
    background-color:rgba(255, 255, 255, 0.34);
  }

  .form-registration-area {
    padding-top: 80px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 80px;
  }
  
  .form-registration .checkbox {
    font-weight: 100;
  }
  
  .form-registration .form-floating:focus-within {
    z-index: 2;
  }
  
  .form-registration input {

    border-radius: 0;
  }
  
  .form-registration-bottom {
    background-color: rgba(255, 0, 0, 0.34);
    padding-top: 20px;
    padding-bottom: 20px;

  }

  .form-registration-layer {
    background-color:rgba(0, 0, 0, 0.34);
    padding: 0px;
  }

    .form-registration-area button {
    margin-top: 20px;
  }
  
  .main-registration {
      margin-top: auto;
      margin-bottom: auto;
  }