 .form-signin-area h1 {
    padding-bottom: 60px;
}

.signin {
    background-image: url(/images/background/registration.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}  

.form-signin {
    width: 100%;
    max-width: 400px;
    margin: auto;
    background-color:rgba(255, 255, 255, 0.34);
  }

  .form-signin-area {
    padding-top: 80px;
    padding-right: 50px;
    padding-left: 50px;
  }
  
  .form-signin .checkbox {
    font-weight: 100;
  }
  
  .form-signin .form-floating:focus-within {
    z-index: 2;
  }
  
  .form-signin input {

    border-radius: 0;
  }
  
  .form-signin-bottom {
    background-color: rgba(255, 0, 0, 0.34);
    padding-top: 20px;
    padding-bottom: 20px;

  }

  .form-signin-layer {
    background-color:rgba(0, 0, 0, 0.34);
    // margin-top: 60px;
    // margin-top: 200px;
    // margin-bottom: 200px;
    // height: 75%;
  }

 .main-signin {
    margin-top: auto;
    margin-bottom: auto;

 }