// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import './button';
@import './avatar';
@import './carousel';
@import './singin';
@import './registration';

a {
    text-decoration: none;
}


.event-item-layer {
    width: 100%;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    margin-top: 15px;
    padding-top: 100%; /* 1:1 Aspect Ratio */
    position: relative;
}  

.event-item-box  {
    position: absolute;
    top: 75%;
    left: 0;
    bottom: 0;
    right: 0;

    background-color: rgba(0, 0, 0, 0.5);
  }

//   .event-item-bottom {
//       margin: auto;

//   }

.event-name {
    border: 3px solid rgb(255, 255, 255);
    width: 80%;
    height: 75%;
    margin: auto;
}

.event-date {
    font-size: 0.875em;
}

.event-place {
    font-size: 0.5em;
}

.event-info-tag {
    background-color: rgba(255, 255, 255, 0.5);
    // margin-top: auto;
    // margin-bottom: auto;
    height: 35%;
    margin-right: 0;


}

.event-item-bottom-right {
    padding: 0;
    font-size: 0.7em;
}